
button {
    font-family: 'RixInooAriDuriR';
}

input {
    font-family: 'Cafe24Ssurround';
}

.container {
    width: calc(100% - 30px);
    max-width: 400px;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    margin-top: 0.3vh;
    height: calc(var(--vh, 1vh) * 85); /* 화면 대부분 차지 */
}

.ViewScreen {
    max-width: 400px;
    margin: 0 auto;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: auto;
    position: relative; /* 자식 요소의 기준점으로 설정 */
    display: flex; /* 수직 방향으로 정렬 */
    flex-direction: column; /* 수직 방향으로 정렬 */
    color: #004d40;
    background: linear-gradient(to bottom right, #e0f7fa, #b3e5fc);
  }

  @media screen and (min-width: 768px) {
    .ViewScreen {
      max-width: 400px; /* 모바일 화면 크기로 제한 */
      margin: 0 auto; /* 가운데 정렬 */
      height: calc(var(--vh, 1vh) * 100); /* 화면 높이에 맞게 설정 */
      overflow-y: auto; /* 세로 스크롤 허용 */
      position: relative; /* 자식 요소의 기준 */
    }
  }

