
.nav {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    position: absolute; /* fixed에서 absolute로 변경 */
    bottom: 0; /* 하단에 위치 */
    left: 0;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    border-radius: 3vh;
    height: 6vh;
    align-items: center;
  }

/* 이하 생략 */
.nav button {
    font-size: xx-large;
    background-color: #4dd0e1;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: none;
}
.nav button:hover {
    background-color: #00796b;
}